{% extends 'base.html.twig' %}

{% block title %}Password reset!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col mt-4 mb-4">
                <a href="{{ path('post_post_all_show') }}" class="btn btn-primary btn-lg square" role="button">{{ 'return_main_page'|trans }}</a>
            </div>
        </div>

        {{ form_start(form)}}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.email) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}
