{% extends 'base.html.twig' %}

{% block title %}
    {{ 'posts_title'|trans }}
{% endblock %}


{% block body %}
    <div class="container">

        <div class="mt-4 mb-2">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.title) }}
                    {{ form_errors(form.title) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>

        <div class="row">
            <div class="col mt-4 mb-4">
                {% if data.getCurrentPageNumber() > 1 %}
                    <a href="{{ path('post_post_all_show') }}" class="btn btn-primary btn-lg square" role="button">{{ 'return_main_page'|trans }}</a>
                {% endif %}
                {% if is_granted('post_link_create') %}
                    <a href="{{ path('post_post_create') }}" class="btn btn-outline-secondary btn-lg square" role="button">{{ 'post_create'|trans }}</a>
                {% endif %}
            </div>
        </div>
        {% if data %}
            {% for item in data %}
                <div class="card mt-2">
                    <div class="card-body">
                        <i class="fas fa-heart float-right custom-fa-heart"></i>
                        <span class="post-show-count-likes float-right">{{ item.getPostLikes().count() }}</span>
                        <h5 class=""><span>{{ 'menu.categories_title'|trans }}</span> : <a href="{{ path('post_category_show', {id: item.getCategory().getId()}) }}">{{ item.getCategory().getTitle() }}</a></h5>
                        {% if item.image %}
                            <img src="{{ asset('post/image/' ~ item.image) }}" class="rounded-circle float-right" alt="{{ item.getTitle() }}">
                        {% endif %}
                        <h3 class="card-title"><a href="{{ path('post_post_show', {id: item.getId()}) }}">{{ item.getTitle() }}</a></h3>
                        <p class="card-text">{{ item.getSummary() }}</p>
                        <hr>
                        {#{% set countTags = item.getTags()|length %}
                        {{ countTags }}#}
                        {% for tag in item.getTags() %}
                            <a href="{{ path('post_post_tag_show', {id: tag.id}) }}">{{ tag.title }} </a>
                        {% endfor %}
                        <hr>
                        <p><a href="{{ path('post_user_posts_profile', {id: item.getOwner().getId()}) }}">{{ item.getOwner().getFirstName() }}, {{ item.getOwner().getLastName() }}</a></p>
                        <a href="{{ path('post_post_show', {id: item.getId()}) }}" class="btn btn-primary">{{ 'post_show_more'|trans }}</a>
                        {% if is_granted('edit', item) %}
                            <a href="{{ path('post_post_edit', {id: item.getId()}) }}" class="btn btn-info square" role="button">{{ 'post_edit'|trans }}</a>
                            <a href="{{ path('post_post_delete', {id: item.getId()}) }}" class="btn btn-danger square" role="button">{{ 'post.delete_button'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <h3>{{ 'posts.not_found'|trans }}</h3>
            </div>
        {% endif %}

    </div>

    <div class="container">
        <div class="col-sm-12 mt-4">
            <div class="row justify-content-center">
                {{ knp_pagination_render(data) }}
            </div>
        </div>
    </div>
{% endblock %}
